{{!-- Debería enviar números en lugar de strings --}}
<fieldset class="huayra-control">
  <legend>Cebolla</legend>
  <p><label>Tamaño:</label>{{input type="text" value=(mut config.cebollaLength)}}</p>
  <p><label>Cursor:</label>{{input type="text" value=(mut config.cameraFrame)}}</p>
  <p><label>Transparencia (entrada):</label>{{input type="text" value=(mut config.alphaIn)}}</p>
  <p><label>Transparencia (salida):</label>{{input type="text" value=(mut config.alphaOut)}}</p>
  <button {{action aplicar config}}>Aplicar cambios</button>
</fieldset>
