{{outlet}}

<div class="contenedor">

	<div class="vbox header">

    <p class="tmp-nota-derecha">Editando el proyecto {{model.ubicacion}}</p>

<!--  Barra de botones de accion superior -->
		<div class="">
		  <button class="ui button botonppal" {{action "capturar"}} title="Sacar una foto"><i class="photo icon"></i> Capturar</button>
		  <button class="ui button botonppal" {{action "previsualizar"}} title="Ver animacion"><i class="play icon"></i></button>
		  <button class="ui button botonppal" {{action toggleProperty "mostrarConfig"}} title="Ver/Ocultar Preferencias"><i class="setting icon"></i></button>
			<button class="ui button botonppal" {{action "guardar"}}><i class="save icon"></i></button>
		</div>


    <p>Cantidad de cámaras disponibles: {{camaras.cantidadDeCamaras}}</p>
    {{#each camaras.camaras as |camara id|}}
      <button {{action "seleccionarCamara" id}}>{{camara.ID_V4L_PRODUCT}} ({{camara.DEVNAME}})</button>
    {{/each}}

    {{outlet}}
	</div>
</div>

<div class="principal"> <!-- Contiene a la vista de camara y a la de configuracion si fuese visible -->
	<div class="pantalla">
		<div id="camara" class="vbox vbox-camara">
			{{huayra-camara}}
			{{#if mostrarCebolla}} {{huayra-cebolla config=cebolla}} {{/if}}
			{{#if mostrarGrilla}}  {{huayra-grilla config=grilla}}   {{/if}}
		</div>
	</div>
	{{#if mostrarConfig}}
  <div id="config" class="configuracion">
    <p>Panel de Configuraciones</p>
      {{huayra-control-cebolla config=(changeset cebolla) aplicar=(action aplicar)}}
      {{huayra-control-grilla config=(changeset grilla) aplicar=(action aplicar)}}
      {{!-- {{huayra-control-camara}} --}}
  </div>
	{{/if}}
</div>
<div class="contenedor">
  {{#if mostrarTimeline}}
    <div class="vbox timeline {{modoArrastre}}">
      {{huayra-timeline capturas=capturas intervaloSeleccion=intervaloSeleccion cursor=cursor moverCuadro='moverCuadro' moverCursor='moverCursor' cursorClick=(action "capturar")}}
    </div>
  {{/if}}
	<div class="vbox botones-opciones">
	   <div class="ui icon buttons"> 
			<button {{action toggleProperty "mostrarTimeline"}} class="ui toggle button {{if mostrarTimeline "active"}} botonchico" title="Ver linea de tiempo"><i class="film icon chico"></i></button>
			<button {{action toggleProperty "mostrarGrilla"}}   class="ui toggle button {{if mostrarGrilla   "active"}} botonchico"><i class="table icon chico" title="Activar Guias"></i></button>
			<button {{action toggleProperty "mostrarCebolla"}}  class="ui toggle button {{if mostrarCebolla  "active"}} botonchico" title="Ver Capa de Cebolla"><i class="clone icon chico"></i></button>
			<!--
			<button {{action "seleccionarCamara"}}class="ui toggle button active botonchico"><i class="record icon chico"></i></button>
			-->
		</div> 
<!--		<div class="ui vertical divider"></div>  -->

{{#ui-dropdown class="selection" selected="insertar" onChange=(action (mut modoArrastre)) }}
		<div class="default text">Seleccione un modo</div>
		<i class="dropdown icon"></i>
		<div class="menu">
			<div class="item" data-value="insertar">INSERTAR</div>
			<div class="item" data-value="sobrescribir">SOBRESCRIBIR</div>
		</div>
{{/ui-dropdown}}


	</div>

</div>
<!--
  <div class="controles-camara">
    {{!huayra-control-cebolla config=(changeset cebolla) aplicar=(action aplicar)}}
    {{!huayra-control-grilla config=(changeset grilla) aplicar=(action aplicar)}}
    {{!huayra-control-camara}}
  </div>
-->

<!--
  <div class="vbox controles">
    <button class="ui button primary" {{action "capturar"}}>Capturar</button>
    <button class="ui button secondary" {{action "previsualizar"}}>Previsualizar selección</button>

    <button class="ui button red {{if haySeleccion '' 'disabled'}}" {{action "eliminarCuadrosSeleccionados"}}>Eliminar cuadros seleccionados</button>
  </div>
-->
