{{outlet}}

<div class="contenedor">

	<div class="vbox header">

    <p class="tmp-nota-derecha">Editando el proyecto {{model.ubicacion}}</p>

<!--  Barra de botones de accion superior -->
		<div class="cabecera">
			<button class="ui button botonppal" {{action "capturar"}} title="Sacar una foto"><i class="photo icon"></i> Capturar</button>

			<button class="ui toggle button {{if timer "active"}} botonppal" {{ action "toggleTimer" }} title="Activar Temporizador"><i class="wait icon"></i></button>	

			<button class="ui toggle button {{if mostrarConfig "active"}} botonppal" {{action 'toggle' 'sub-sidebar'}} title="Ver/Ocultar Preferencias"><i class="setting icon"></i> </button>
			<button class="ui button botonppal" {{action "previsualizar"}} title="Ver animacion"><i class="play icon"></i></button>
			<button class="ui button botonppal" {{action "guardar"}} title="Guardar proyecto"><i class="save icon"></i></button>
		</div>


    <p class="info">C치maras disponibles: {{camaras.cantidadDeCamaras}}</p>
    {{#each camaras.camaras as |camara id|}}
      <button {{action "seleccionarCamara" id}}>{{camara.ID_V4L_PRODUCT}} ({{camara.DEVNAME}})</button>
    {{/each}}

    {{outlet}}
	</div>
</div>
<p class="zoom-icon"><i class="zoom icon"></i></p>
<p class="zoom-slider">{{ui-slider min=1 max=11 step=1
	                                 value=(mut pantallaZoom)
	                                 orientation="vertical"}}</p>
<p class="zoom-out-icon"><i class="zoom out icon"></i></p>

<div class="principal"> <!-- Contiene a la vista de camara y a la de configuracion si fuese visible -->
	<div class="ui pushable segment component context">
		{{#ui-sidebar class="inverted menu right inline vertical " context=".component.context" id="sub-sidebar"
	                onHide=(action (mut mostrarConfig) false)}}
		  <div id="config" class="configuracion">
			<p class="panel">Panel de Configuraciones</p>
				<div class="ui top attached tabular menu">
					<div class="item" data-tab="tab-cebolla"><i class="clone icon chico"></i></div>
					<div class="item" data-tab="tab-grilla"><i class="table icon chico"></i></div>
					<div class="item" data-tab="tab-camara"><i class="photo icon chico"></i></div>
					<div class="active item" data-tab="tab-temporizador"><i class="wait icon chico"></i></div>
				</div>
				<div class="ui tab" data-tab="tab-cebolla">
				  {{huayra-control-cebolla config=cebolla aplicar=(action aplicar)}}
				</div>
				<div class="ui tab" data-tab="tab-grilla">
				  {{huayra-control-grilla config=grilla aplicar=(action aplicar)}}
				</div>

				<div class="ui tab" data-tab="tab-camara">
				  {{huayra-control-camara}}
				</div>
				<div class="ui active tab" data-tab="tab-temporizador">
				  {{huayra-control-temporizador}}
				</div> 

		  </div>
		{{/ui-sidebar}}

		<div class="pusher">
			<div class="ui basic segment" style="min-height:300px;">
				<div class="pantalla">
					<div id="camara" class="vbox vbox-camara zoom-{{pantallaZoom}}x">
						{{huayra-camara flipX=flipX flipY=flipY}}
						{{#if mostrarCebolla}} {{huayra-cebolla config=cebolla}} {{/if}}
						{{#if mostrarGrilla}}  {{huayra-grilla config=grilla}}   {{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contenedor">
  {{#if mostrarTimeline}}
    <div class="vbox timeline {{modoArrastre}}">
      {{huayra-timeline capturas=capturas intervaloSeleccion=intervaloSeleccion cursor=cursor moverCuadro='moverCuadro' moverCursor='moverCursor' cursorClick=(action "capturar")}}
    </div>
  {{/if}}
	<div class="vbox botones-opciones">
			<button {{action toggleProperty "mostrarTimeline"}} class="ui toggle button {{if mostrarTimeline "active"}} botonchico" title="Ver linea de tiempo"><i class="film icon chico"></i></button>
			<button {{action toggleProperty "mostrarGrilla"}}   class="ui toggle button {{if mostrarGrilla   "active"}} botonchico"><i class="table icon chico" title="Activar Guias"></i></button>
			<button {{action toggleProperty "mostrarCebolla"}}  class="ui toggle button {{if mostrarCebolla  "active"}} botonchico" title="Ver Capa de Cebolla"><i class="clone icon chico"></i></button>
			<!--
			<button {{action "seleccionarCamara"}}class="ui toggle button active botonchico"><i class="record icon chico"></i></button>
			-->

<!--			<div class="ui vertical divider"></div> -->

{{#ui-dropdown class="selection" selected="insertar" onChange=(action (mut modoArrastre)) }}
		<div class="default text">Seleccione un modo</div>
		<i class="dropdown icon"></i>
		<div class="menu">
			<div class="item" data-value="insertar">INSERTAR</div>
			<div class="item" data-value="sobrescribir">SOBRESCRIBIR</div>
		</div>
{{/ui-dropdown}}

			<button class="ui button toggle {{if flipX "active"}} botonchico" title="Espejo Horizontal" {{action toggleProperty "flipX"}}><i class="resize horizontal icon chico"></i></button>

			<button class="ui button toggle {{if flipY "active"}} botonchico" title="Espejo Vertical" {{action toggleProperty "flipY"}}><i class="resize vertical icon chico"></i></button>

			{{#if hasAnyFlip}}
				<div class="ui checkbox"><input name="flip-check" onchange={{action toggleProperty "writeFlipped"}} type="checkbox"><label>Espejado real</label></div>
			{{/if}}



	<button class="ui button {{if haySeleccion '' 'disabled'}} botonchico " title="Eliminar cuadros seleccionados"  {{action "eliminarCuadrosSeleccionados"}}><i class="remove icon chico"></i></button>

	</div>

</div>

{{#ui-modal name="preview" class="preview" onHidden=(action "cerrarPreview")}}
  <i class="close icon"></i>
  <div class="header">
    Previsualizaci칩n
  </div>
  <div class="content centered">
		{{#if cargandoPreview}}
			<div class="ui active inverted dimmer">
				<div class="ui text loader">Generando preview ({{porcentajePreview}}%)</div>
			</div>
		{{else if failedPreview}}
		  Hubo un error y se rompi칩 todo
		{{else}}
		  <video height="350" src={{previewURL}} autoplay loop controls/>
		{{/if}}
  </div>
{{/ui-modal}}
<!--
  <div class="controles-camara">
    {{!huayra-control-cebolla config=(changeset cebolla) aplicar=(action aplicar)}}
    {{!huayra-control-grilla config=(changeset grilla) aplicar=(action aplicar)}}
    {{!huayra-control-camara}}
  </div>
-->

<!--
  <div class="vbox controles">
    <button class="ui button primary" {{action "capturar"}}>Capturar</button>
    <button class="ui button secondary" {{action "previsualizar"}}>Previsualizar selecci칩n</button>

    <button class="ui button red {{if haySeleccion '' 'disabled'}}" {{action "eliminarCuadrosSeleccionados"}}>Eliminar cuadros seleccionados</button>
  </div>
-->
