{{title "Nuevo proyecto"}}
{{outlet}}
<div class="centrado">
 <div class="ui middle aligned grid container">
    <div class="row">
	<div class="center aligned column">
		<img src="imagenes/logo-nuevo-wide.png" width=353 height=52 class="logo-centrado">
	</div>
    </div>

    <div class="center row">

<!--	<div class="twelve wide column center"> -->

	        <div class="ui form">

	          <div class="fields">
	            <div class="ten wide field {{if mensajeNombreInvalido 'error'}}">
	              <label>Nombre</label>

	              {{input id="nombre" type="text" value=model.nombre placeholder="Ingrese el nombre del proyecto"}}
	            </div>
	          </div>


	          <div class="fields">
	            <div class="ten wide field {{if mensajeNombreInvalido 'error'}}">
	              <label>Ubicación donde se guardará el proyecto</label>
			<div class="ui action input">

		        {{input id="ubicacion" type="text" value=model.ubicacion onclick=(action "seleccionarNuevaUbicacion") readonly="" placeholder="Pulse el botón para elegir una ruta"}} <button class="ui button" disabled={{model.noPuedeCambiarRuta}} {{action "seleccionarNuevaUbicacion"}}><i class="folder open outline icon"></i></button>

			</div>

              

              {{#if model.noPuedeCambiarRuta}}
                <span id='mensaje-de-error' class='color_gray'>No se puede cambiar la ruta desde la versión web.</span>
              {{/if}}

	            </div>
	          </div>
        	</div>
<!--      	</div> -->

    </div>

    <div class="row">
      <div class="center aligned column">

        <button id="crear-proyecto" class="ui button primary" disabled={{contieneErrores}} {{action "crearProyecto"}}>Crear el proyecto</button>
        {{#link-to 'index' id="cancelar" class="ui button"}}Cancelar{{/link-to}}


        {{#if contieneErrores}}

          {{#if model.errorRutaNoEscribible}}

            <div class="ui error message">
              Tiene que elegir una ruta que se pueda escribir por la aplicación.
            </div>

          {{else if model.errorProyectoExistente}}

            <div class="ui error message">
              Ya existe un proyecto en esta ruta.
            </div>

          {{else}}

            <div class="ui info message">
              <p>Se tienen que completar algunos campos antes de iniciar
                la creación del proyecto.</p>
            </div>

          {{/if}}

        {{/if}}

      </div>
    </div>

  </div>
</div>
