{{title "Nuevo proyecto"}}
{{outlet}}

<div class="ui vertical stripe segment margin-top">
  <div class="ui middle aligned grid container">
    <div class="row">

      <div class="twelve wide column center">

        <div class="ui form">

          <div class="fields">
            <div class="ten wide field {{if mensajeNombreInvalido 'error'}}">
              <label>Nombre</label>

              {{input id="nombre" type="text" value=model.nombre placeholder="ingrese el nombre del proyecto"}}
            </div>
          </div>


          <div class="fields">
            <div class="ten wide field {{if mensajeNombreInvalido 'error'}}">
              <label>Ubicación donde se guardará el proyecto</label>

              <p>
                {{input id="ubicacion" type="text" value=model.ubicacion onclick=(action "seleccionarNuevaUbicacion") readonly="" placeholder="Pulse el botón 'explorar' para elegir una ruta"}}
              </p>

              <button class="ui submit button mini" disabled={{model.noPuedeCambiarRuta}} {{action "seleccionarNuevaUbicacion"}}>Explorar</button>

              {{#if model.noPuedeCambiarRuta}}
                <span id='mensaje-de-error' class='color_gray'>No se puede la ruta cambiar desde la versión web.</span>
              {{/if}}

            </div>
          </div>


        </div>

      </div>
    </div>

    <div class="row">
      <div class="left aligned column">

        <button id="crear-proyecto" class="ui button primary" disabled={{contieneErrores}} {{action "crearProyecto"}}>Crear el proyecto</button>
        {{#link-to 'index' id="cancelar" class="ui button"}}Cancelar{{/link-to}}


        {{#if contieneErrores}}

          {{#if model.errorRutaNoEscribible}}

            <div class="ui error message">
              Tiene que elegir una ruta que se pueda escribir por la aplicación.
            </div>

          {{else if model.errorProyectoExistente}}

            <div class="ui error message">
              Ya existe un proyecto en esta ruta.
            </div>

          {{else}}

            <div class="ui info message">
              <p>Se tienen que completar algunos campos antes de iniciar
                la creación del proyecto.</p>
            </div>

          {{/if}}

        {{/if}}

      </div>
    </div>

  </div>
</div>
