<div class="contenedor">

  <div class="vbox header">

    <p>{{#link-to 'index' class="ui button"}}Regresar{{/link-to}}</p>

    <h1>Prueba de cámaras</h1>

    <p>Cantidad de cámaras disponibles: {{camaras.cantidadDeCamaras}}</p>

    {{#each camaras.camaras as |camara id|}}
    <button {{action "seleccionarCamara" id}}>{{camara.ID_V4L_PRODUCT}} ({{camara.DEVNAME}})</button>
    {{/each}}

    {{outlet}}

  </div>

  <div class="vbox">
    <canvas id='camara' width={{width}} height={{height}} />
  </div>

  <div class="vbox controles">
    <button class="ui button primary {{if hayCamaraSeleccionada '' 'disabled'}}" {{action "capturar"}}>Capturar</button>
  </div>

  <div class="vbox timeline">
    {{huayra-timeline capturas=capturas}}
  </div>

</div>
