<div class="contenedor">

  <div class="vbox header">

    <p>{{#link-to 'index' class="ui button"}}Regresar{{/link-to}}</p>

    <h1>Prueba de c치maras</h1>

    <p>Cantidad de c치maras disponibles: {{camaras.cantidadDeCamaras}}</p>

    {{#if hayCamaraSeleccionada}}
      <p>Hay una c치mara seleccionada <button {{action "apagarCamara"}}>Apagar la camara seleccionada</button></p>
    {{else}}
      <button {{action "seleccionarCamara" 0}}>Inicializar camara 1</button>
    {{/if}}

    {{outlet}}

  </div>

  <div class="vbox vbox-camara">
    <div id='camara'>Contenendor para la c치mara.</div>
  </div>

  <div class="vbox controles">
    <button class="ui button primary {{if hayCamaraSeleccionada '' 'disabled'}}" {{action "capturar"}}>Capturar</button>
    
    <button class="ui button red {{if haySeleccion '' 'disabled'}}" {{action "eliminarCuadrosSeleccionados"}}>Eliminar cuadros seleccionados</button>
  </div>

  <div class="vbox timeline">
    {{huayra-timeline capturas=capturas intervaloSeleccion=intervaloSeleccion}}
  </div>

</div>
