<div class="contenedor">

  <div class="vbox header">

    <p>{{#link-to 'index' class="ui button"}}Regresar{{/link-to}}</p>

    <h1>Prueba de cámaras</h1>

    <p>Cantidad de cámaras disponibles: {{camaras.cantidadDeCamaras}}</p>

    {{#each camaras.camaras as |camara id|}}
    <button {{action "seleccionarCamara" id}}>{{camara.ID_V4L_PRODUCT}} ({{camara.DEVNAME}})</button>
    {{/each}}

    {{outlet}}

  </div>

  <div class="vbox vbox-camara">
    {{huayra-camara}}
    {{huayra-cebolla frames=capturas cameraFrame=cursor cebollaLength=cebolla.cuadros alphaIn=cebolla.in alphaOut=cebolla.out}}
  </div>

  <div class="vbox controles">
    <button class="ui button primary" {{action "capturar"}}>Capturar</button>
    
    <button class="ui button red {{if haySeleccion '' 'disabled'}}" {{action "eliminarCuadrosSeleccionados"}}>Eliminar cuadros seleccionados</button>
  </div>

  <div class="vbox timeline">
    {{huayra-timeline capturas=capturas intervaloSeleccion=intervaloSeleccion}}
  </div>

</div>
