<div class="contenedor">

  <div class="vbox header">

    <p>{{#link-to 'index' class="ui button"}}Regresar{{/link-to}}</p>

    <h1>Prueba de cámaras</h1>

    <p>Cantidad de cámaras disponibles: {{camaras.cantidadDeCamaras}}</p>

    <button {{action "seleccionarCamara" 0}}>Inicializar camara 1</button>

    {{outlet}}

  </div>

  <div class="vbox">
    <canvas id='camara' width={{camaras.camaraSeleccionada.width}} height={{camaras.camaraSeleccionada.height}} />
  </div>

  <div class="vbox controles">
    <button class="ui button primary {{if hayCamaraSeleccionada '' 'disabled'}}" {{action "capturar"}}>Capturar</button>
  </div>

  <div class="vbox timeline">
    {{huayra-timeline capturas=capturas}}
  </div>

</div>
