<div class="contenedor">

  <div class="vbox header">

    <p>{{#link-to 'index' class="ui button"}}Regresar{{/link-to}}</p>

    <h1>Prueba de c치maras</h1>

    <p>Cantidad de c치maras disponibles: {{camaras.cantidadDeCamaras}}</p>

    {{#if hayCamaraSeleccionada}}
      <p>Hay una c치mara seleccionada <button {{action "apagarCamara"}}>Apagar la camara seleccionada</button></p>
    {{else}}
      <button {{action "seleccionarCamara" 0}}>Inicializar camara 1</button>
    {{/if}}

    {{outlet}}

  </div>

  <div class="vbox">
    <div id='camara'>Contenendor para la c치mara.</div>
  </div>

  <div class="vbox timeline">
    Espacio reservado para el timeline.
  </div>

</div>
