{{outlet}}

<div class="ui vertical stripe segment margin-top">
  <div class="ui middle aligned grid container">
    <div class="row">
	  <div class="center aligned column">
	        <img src="imagenes/logo-nuevo.png" width=102 heigth=102 class="logo-centrado">
	  </div>
    </div>

    <div class="row">
      <div class="center aligned column">
        <a class="ui button primary" id='crearNuevoProyecto' {{action 'crearUnProyectoNuevo'}}>Crear un nuevo proyecto</a>

        {{#if inElectron}}
          <a class="ui button success" id='abrirUnProyecto' {{action 'abrirUnProyectoExistente'}}>Abrir un proyecto existente</a>
        {{else}}
          <a class="ui button success disabled" id='abrirUnProyecto'>Abrir un proyecto existente</a>
        {{/if}}

      </div>
    </div>

    <div class="row no-padding-bottom">
      <div class="center aligned column">
        Sección de pruebas:
      </div>
    </div>

    <div class="row">
      <div class="center aligned column">
        <a class="ui button" {{action 'abrirPruebaDeCamaras'}}>Probar interfaz de cámaras</a>
        <a class="ui button" {{action 'abrirPruebas'}}>Abrir sección de pruebas</a>
      </div>
    </div>

  </div>
</div>
